<table>
    <thead>
    <tr>
    <th colspan="2"><%@cat.name%></th>
    </tr>

    </thead>
    <tbody>
    <tr>
    <td>Age</td>
    <td><%= @cat.age%></td>
    <td>Color</td>
    <td><%= @cat.color%></td>
    <td>Birth_date</td>
    <td><%= @cat.birth_date%></td>
    <td>Age</td>
    <td><%= @cat.age%></td>
    <td>Sex</td>
    <td><%= @cat.sex%></td>
    </tbody>
</table>